.company_page {
  width: 1400px;
  margin-left: 96px;
  margin-top: 13px;
}

.company_header {
  width: 1400px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company_nav {
  width: 780px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.con_btn {
  display: flex;
  align-items: center;
}

.con_btn {
  cursor: pointer;
}

.con_btn i {
  width: 20px;
  height: 20px;
}

.con_btn p {
  margin-left: 20px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.table_top_content div:nth-child(8) {
  width: 122px;
  border: none;
}

/*  */

.companyBox {
  border-radius: 15px 15px 0px 0px;
  background: rgba(146, 167, 199, 0.28) !important;
}
.companyBox .con_btn {
  color: #fff !important;
  width: 250px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companyBox .con_btn .all_companies {
  color: #ffffff !important;
}
.companyBox .con_btn p {
  color: #ffffff !important;
}

.companyBox_active {
  background: rgba(255, 255, 255);
  border-radius: 15px 15px 0px 0px;
}
.companyBox_active p {
  color: #004665;
}

.companyBox_active .con_btn {
  color: #004665;
  width: 250px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companyBox_active .con_btn .all_companies {
  color: #004665;
}

/*  */

.add_btn {
  width: 150px;
  height: 30px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  padding: 6px 5px;
  display: flex;
  align-items: center;
}

.add_content {
  height: 15px;
  display: flex;
  align-items: center;
}

.add_content a {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
